.Home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: bottom;
    background-color: #223742;
}

.logo{

    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup{
    background-color: #303f9f;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.signup:hover{
    background-color: #3C7A89;
}
.signup:active {
  background-color: #16262E;
}

.login{
    background-color:  #303f9f;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.login:hover{
    background-color: #3C7A89;
}
.login:active {
  background-color: #16262E;
}



h1{
    text-align: center;
    color: white;
}
